<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cartConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=cart;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cartsConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=carts;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bedroomConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=bedroom;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="chairsConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=chairs;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="kidConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=kid;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="tableConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=table;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="diningConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=dining;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="diningConnectionString2" connectionString="Data Source=mypc-PC;Initial Catalog=dining;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="diningConnectionString3" connectionString="Data Source=mypc-PC;Initial Catalog=dining;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="barConnectionString" connectionString="Data Source=mypc-PC;Initial Catalog=bar;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cartsConnectionString2" connectionString="Data Source=mypc-PC;Initial Catalog=carts;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cartsConnectionString3" connectionString="Data Source=mypc-PC;Initial Catalog=carts;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>